.main__title {
  display: block;
  position: relative;
  font-size: 74px;
  font-weight: 900;
  max-width: 588px;
  z-index: 1;
}

.main__title span {
  position: absolute;
  left: 160px;
  z-index: -1;
}
