.footer__content {
  max-width: 1310px;
  display: grid;
  grid-template-columns: 1.125fr repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

@media screen and (max-width: 768px) {
  .footer__content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 40px;
  }
}
