.header__content-access {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 1024px) {
  .header__content-access {
    flex-direction: column;
    align-items: flex-end;
  }
}
