* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p {
  font-size: 18px;
  line-height: 168%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

@import url(./blocks/vendor/normalize.css);

/*Section*/
@import url(./blocks/section/section.css);

/*colors*/
@import url(./blocks/color/color_5E1EE5.css);
@import url(./blocks/color/color_white.css);

/*backgrounds*/
@import url(./blocks/background/background_5E1EE5.css);
@import url(./blocks/background/background_ffe921.css);
@import url(./blocks/background/background_white.css);

/*labels*/
@import url(./blocks/label/label.css);
@import url(./blocks/label/_rotated-l/label_rotated-l.css);
@import url(./blocks/label/_rotated-r/label_rotated-r.css);

/*Header*/
@import url(./blocks/header/header.css);
@import url(./blocks/header/__content/header__content.css);
@import url(./blocks/header/__content-pc/header__content-pc.css);
@import url(./blocks/header/__content-movil/header__content-movil.css);
@import url(./blocks/header/__content-nav-bar-movil/header__content-nav-bar-movil.css);
@import url(./blocks/header/__button-menu/header__button-menu.css);
@import url(./blocks/nav-bar-pc/nav-bar-pc.css);
@import url(./blocks/nav-bar-movil/nav-bar-movil.css);
@import url(./blocks/header/__sessions/header__sessions.css);

/*Sección Main*/
@import url(./blocks/main/main.css);
@import url(./blocks/main/__content/main__content.css);
@import url(./blocks/main/__info/main__info.css);
@import url(./blocks/main/__content-info/main__content-info.css);
@import url(./blocks/main/__title/main__title.css);
@import url(./blocks/main/__description/main__description.css);
@import url(./blocks/main/__presentation/main__presentation.css);
@import url(./blocks/main/__content-illustration/main__content-illustration.css);
@import url(./blocks/main/__illustration/main__illustration.css);
@import url(./blocks/main/__illustration-labels/main__illustration-labels.css);
@import url(./blocks/main/__content-notice/__content-notice.css);

/*Sección provide*/
@import url(./blocks/providers/providers.css);
@import url(./blocks/providers/__content/providers__content.css);
@import url(./blocks/providers/__title/providers__title.css);
@import url(./blocks/providers/__content-devices/providers__content-devices.css);
@import url(./blocks/providers/__device/providers__device.css);
@import url(./blocks/providers/__image/providers__image.css);
@import url(./blocks/providers/__type-of-device/providers__type-of-device.css);

/*Footer*/
@import url(./blocks/logo/logo.css);
@import url(./blocks/logo/__text/logo__text.css);
@import url(./blocks/logo/__text/_e/logo__text_e.css);
@import url(./blocks/logo/__ellipse/logo__ellipse.css);

/*Access footer*/
@import url(./blocks/access/access.css);
@import url(./blocks/access/__link/access__link.css);
@import url(./blocks/access/__icon/access__icon.css);

@import url(./blocks/footer/__content/footer__content.css);
@import url(./blocks/footer/__contnet-logo/footer__contnet-logo.css);
@import url(./blocks/footer/__content-info/footer__content-info.css);
@import url(./blocks/footer/__info/footer__info.css);
@import url(./blocks/footer/__info/_gap-23px/footer__info_gap-23px.css);
