.providers__image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 85px;
  width: 85px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.providers__image img {
  height: 40px;
}
